@use 'variaveis';
@use '_hero';
@use '_shows';
@use '_plans';
@use '_watch-anywhere';
@use '_image-text';
@use '_devices';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;

}

body{
    background-color: variaveis.$bgColor ;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$TextoPrincipal;
}

@mixin tittle($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$TextoSecundario;
}

//text_config

.text--big{
    @include text(18px);
}

.text--medium{
    @include text;
}

.text--small{
    @include text(12px);
}

//tittle_config

.tittle--big{
    @include tittle(44px);
}

.tittle--medium{
    @include tittle;
}
.tittle--small{
    @include tittle(28px);
}

.link--text{
    @include text(18px);
    color: variaveis.$TextoSecundario;
    text-decoration: underline;
}

.button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$TextoSecundario;
    background-color: #6421ff;
    border-radius: 4px;
    margin-top: 2vh;
    margin-bottom: 8px;  
    cursor: pointer;
    border: none;                  
}