@use 'variaveis';
@use '_hero';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

body{
    background-color: variaveis.$bgColor ;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$TextoPrincipal;
}

@mixin tittle($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$TextoSecundario;
}

//text_config

.text--big{
    @include text(18px);
}

.text--medium{
    @include text;
}

.text--small{
    @include text(12px);
}

//tittle_config

.tittle--big{
    @include tittle(44px);
}

.tittle--medium{
    @include tittle;
}
.tittle--small{
    @include tittle(28px);
}

.link--text{
    @include text(18px);
    color: variaveis.$TextoSecundario;
    text-decoration: underline;
}